
body {
  background-color: #00033E;
}

#sales-data {
  background-color: white;
}

header {
  height: 10%;
  width: 70%;
  background-color: #195671;
  color: #D2BC9E;
  text-align: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Trade Winds', cursive;
  font-size: 50px;
  border-radius: 80px 50px;
  padding: 2px;
}

section {
  margin: 30px auto 10px auto;
  padding: 5px;
  border-radius: 10px;
}

h3 {
  font-family: 'Rubik Mono One', sans-serif;
}

section p {
 font-family: 'Exo 2', sans-serif;
}

.aboutUs {
  background-color: #44939E;
  text-align: center;
  height: 120px;
  width: 80%;
}

img {
  min-height: 150px;
  min-width: 150px;
  margin: 25px auto 25px auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

figcaption {
  color: white;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

.ourLocations {
  background-color: #44939E;
  height: 200px;
  width: 80%;
}

.ourLocations>ul {
 font-family: 'Exo 2', sans-serif;
}

.ourLocations>h3 {
  text-align: center;
}


.openingHours {
  background-color: #44939E;
  text-align: center;
  height: 100px;
  width: 80%;
}


#feature>p {
  background-color: #D2BC9E;
  text-align: center;
  padding: 5px;
  height: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  border: solid;
}

th {
  border: solid;
  text-align: center;
  padding: 5px;
}

td {
  border: solid;
  text-align: center;
  padding: 5px;
}
